<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>测试页面</title>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.prefix %>/image/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= htmlWebpackPlugin.options.prefix %>/image/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.prefix %>/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= htmlWebpackPlugin.options.prefix %>/image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.prefix %>/image/favicon-16x16.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.prefix %>/image/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.options.prefix %>/image/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="全景浏览设置" >
    <meta name="keywords" content="app开发,软件开发,软件咨询,软件报价,软件定制,定制,公众号支付,IoT,物联网,微信支付,微信定制开发,微信,微信公众平台,微信网站,微信推广,微信开发,微信营销公司,微信公众号,微信公众平台开发,网站制作,微信制作,汽车微信,微信建设,微营销,网站开发,手机APP应用开发,安卓应用开发,iPhone应用开发,苹果手机应用开发,点餐系统开发,手机管理系统开发,OA开发,响应式网站开发,杭州,纳舍科技,纳舍,自适应网站开发,杭州纳舍科技有限公司,纳舍,企业软件,微信小程序,公众号,微信公众号,IoT,管理系统,软件开发订制,企业软件系统,商城,小程序商城,小程序会员卡,小程序优惠卡">
    <script>
      window.IMAGE_PREFIX = '<%= htmlWebpackPlugin.options.imagePrefix %>';
      window.API_URL = '<%= htmlWebpackPlugin.options.apiUrl %>';
      window.IS_MOBILE = (function() {
        let check = false;
        if (typeof window.orientation !== 'undefined'){
          check = true;
        }
        return check;
      })()
      //CNZZ 统计声明_czc对象:
      var _czc = _czc || [];
      var siteId = '1277825292';
      _czc.push(["_setAccount", siteId]);
      
      window.onerror = function (msg, url, lineNo, columnNo, error) {
        // alert(msg);//页面在uc浏览器报错，不知道什么错。为了不跳出alert，所以去掉
        _czc.push(["_trackEvent", '兼容性问题', '错误', '错误信息', msg, lineNo]);
        return false;
      }
    </script>
  </head>

  <body>
    <!-- <script>
      !(function(c,b,d,a){c[a]||(c[a]={});c[a].config={pid:"dwkxcn2mjz@a1f2cb5795338b9",appType:"web",imgUrl:"https://arms-retcode.aliyuncs.com/r.png?",useFmp:true,sendResource:true,enableSPA:true,disableHook:true};
      with(b)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("crossorigin","",src=d)
      })(window,document,"https://retcode.alicdn.com/retcode/bl.js","__bl");
    </script> -->

    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1277825292'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1277825292%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>